body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: black;
}
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 0.9em; 
}
.ui-dialog .ui-dialog-buttonpane{
      padding: 0;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
.radioButtons{
  font-weight: normal;
  padding-top:0.7%;
}
.mandatory-field{
  color:red;
}
.Arrow{
  color:#337ab7;
}
.nameLink {
    cursor: pointer;
    text-decoration: none;
} 
small.error, span.error {
    display: block;
    font-size: 1.1rem;
    font-weight: 400;
    font-style: italic;
    color: rgb(240, 65, 36);
}
.gridDetails{
  float:left;
  margin-top:1%;
  font-size:18px;
}
.cursorPointer{
  cursor:pointer;
}
.subHeading{
  border-bottom: 1px solid #adebad;
  padding-bottom:10px;
  color:#3c763d
}
.ProfilePicPreview{
  max-width:185px;
  max-height:209px;
  border: 1px solid #ccc;
}
/*Beneficiary Controller*/

.BeneficiaryCtrl h3{
	text-decoration: underline;
	text-align: center;
}
.BeneficiaryCtrl .stylish-input-group .input-group-addon{
    background: white !important; 
}
.BeneficiaryCtrl .stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
}
.BeneficiaryCtrl .stylish-input-group button{
    border:0;
    background:transparent;
}

.BeneficiaryCtrl .col-sm-2{
    padding-left: 0px;
}
.BeneficiaryCtrl .lable-bottom-margin{
    margin-bottom:20px;
}
.BeneficiaryCtrl .btn-file {
    position: relative;
    overflow: hidden;
}
.BeneficiaryCtrl .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}